[Desktop Entry]
Type=Application
Name=Install VicyosLinux
Comment=Installer for VicyosLinux
Categories=Utility;
Exec=pkexec calamares
Icon=arco-calamares
