[Desktop Entry]
Type=Application
Name=Install VicyosLinux with debugging mode on
Comment=Installer for VicyosLinux to debug
Categories=Utility;
Exec=sudo pkexec /usr/bin/calamares &
Icon=arco-calamares
