[Desktop Entry]
Type=Application
Name=Install VicyosLinux with debugging mode on
Comment=Installer for VicyosLinux to debug
Categories=Utility;
Exec=pkexec calamares -d
Icon=arco-calamares
